
.meetup-add-button {
    float: right;
    margin-right: 5%;
}

.meetup {
    border: 2px;
    border-color: #4682b4;
    width: 20%;
    margin-left: 20%;
}

.textdiv{
  margin-top:          1%;
  background-color:    #2980b9;
  width:               75%;
  border-radius:       0px 200px 200px 0px;
  border:              black solid 2px;
}

.textdivright{
  margin-top:          5%;
  background-color:  #2980b9;
  width:               75%;
  border-radius:       200px 0px 0px 200px;
  border:            black solid 2px;
  float:               right;
  text-align:          right;
}

.site-footer {
  position:           relative;
  /* margin-top:         10px; */
  padding:            1rem;
  background-color: #4682B4;
  padding:            45px 0px 20px;
  font-size:  	      15px;
  line-height:        24px;
  color:            #f0f8ff;
}

.site-footer h6 {
color:              #f0f8ff;
font-size:            16px;
text-transform:       uppercase;
margin-top:           5px;
letter-spacing:       2px;
}

.site-footer a {
color:              #f0f8ff;
}


.site-footer a:hover {
color:             #f0f8ff;
text-decoration:      none;
}

.footer-links {
padding-left:         0;
list-style:           none;
}

.footer-links li {
display:              block;
}

.footer-links a {
color:              #00192e;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
color:              #f0f8ff;
text-decoration:      none;
}

.footer-links.inline li {
display:              inline-block;
}

.site-footer .social-icons {
text-align:           right;
}

.site-footer .social-icons a {
width:                40px;
height:               40px;
line-height:          40px;
margin-left:          6px;
margin-right:         0px;
border-radius:        100%;
background-color:   #33353d;
}

.copyright-text {
margin:               0px;
}

@media (max-width:900px) {
.site-footer [class^=col-] {
  margin-bottom:      30px;
}
}

@media (max-width:767px) {
.site-footer {
  padding-bottom:     0px;
}

.site-footer .copyright-text,.site-footer .social-icons {
  text-align:         center;
}
}

.alert {
  margin:              10px;
}

.floatR .btn {
  float:               right;
  margin:              0px 5px 0px 5px;
}

/* .col {
  padding:             10px 15px 10px 15px;
} */

th.checkboxTable {
  padding-right:      0px!important;
  margin-right:       0px;
}


.table td, .table th {
  padding:            0.75rem 20px 0.75rem 70px;
}
